.#{$prefix}-dialog {
  @include setPosition(inherit, $position-box: fixed);
  &_main {
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
    margin: 0 auto 0;
    border-radius: 8px;
    .vi-dialog_close {
      @include setPosition(right, 14px, 16px);
      cursor: pointer;
    }
    .vi-dialog_header {
      padding: $fs-14 $fs-16;
      &-inner {
        font-weight: 700;
        font-size: 15px;
      }
      &.vi-message_header-bd {
        border-bottom: 1px solid $color-primary-bd;
      }
    }
    .vi-dialog_content {
      padding: $fs-14 $fs-16;
      font-size: $fs-14;
      color: $color-primary-text;
    }
    .vi-dialog_footer {
      padding: $fs-14 $fs-16;
      &.vi-message_footer-bd {
        border-top: 1px solid $color-primary-bd;
      }
      & .vi-dialog_button {
        text-align: right;
      }
    }
  }
  //淡入淡出
  &-fade-enter, &-fade-leave-to {
    opacity: 0;
  }
  &-fade-enter-active, &-fade-leave-active {
    transition: all $duration03;
  }

  // 上方滑入
  &-upper-slide-enter, &-upper-slide-leave-to {
    margin-top: -100%;
  }
  &-upper-slide-enter-active, &-upper-slide-leave-active {
    transition: all $duration03;
  }

  // 下方滑入
  &-below-slide-enter, &-below-slide-leave-to {
    margin-top: 100%;
  }
  &-below-slide-enter-active, &-below-slide-leave-active {
    transition: all $duration03;
  }

  // 左边滑入
  &-left-slide-enter, &-left-slide-leave-to {
    left: -100%;
  }
  &-left-slide-enter-active, &-left-slide-leave-active {
    transition: all $duration02;
  }

  // 右边滑入
  &-right-slide-enter, &-right-slide-leave-to {
    left: 100%;
  }
  &-right-slide-enter-active, &-right-slide-leave-active {
    transition: all $duration02;
  }
}