.vi-container,
.vi-main{
  display: flex;
}

.vi-container,
.vi-main,
.vi-section,
.vi-article{
  flex: 1 1 auto;
  align-self: stretch;
}

.vi-header,
.vi-footer,
.vi-aside {
  flex: 0 0 auto;
  align-self: stretch;
}

.vi-nav {
  flex: 1 1 auto;
}

.vi-is-vertical {
  flex-direction: column;
}
.vi-is-horizontal {
  flex-direction: row;
}