
.#{$prefix}-message {
  position: fixed;
  padding: 15px 20px;
  border-radius: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $color-bglight-success;
  color: $color-active-success;
  top: 0;
  font-size: 14px;
  min-width: 360px;
  display: flex;
  align-items: center;
  transition: top $duration03;
  @mixin setColors ($type) {
    background-color: getBgLightColors($type);
    color: getBasicColors($type);
  }
  &_type-icon {
    margin-right: 5px;
    .vi-message_icon-success {
      @include setColors(success)
    }
    .vi-message_icon-info {
      @include setColors(info)
    }
    .vi-message_icon-warning {
      @include setColors(warning)
    }
    .vi-message_icon-danger {
      @include setColors(danger)
    }
  }
  &_content {
    flex: 1;
  }
  &_icon {
    position: relative;
    text-align: center;
    width: 16px;
    height: 16px;
    cursor: pointer;
    &-font {
      @include setPosition()
    }
  }
  &_success {
    @include setColors(success)
  }
  &_info {
    @include setColors(info)
  }
  &_warning {
    @include setColors(warning)
  }
  &_danger {
    @include setColors(danger)
  }

  &-enter-active, &-leave-active {
    transition: all $duration03;
  }
  &-enter, &-leave-to {
    opacity: 0;
  }
}
