.vi-radio {
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-right: $fs-15;
  user-select: none;
  &.is-active {
    .vi-radio_inner {
      border-color: $color-primary;
      &::after {
        opacity: 1;
      }
    }
  }
  &.is-disabled {
    color: $color-disabled-text;
    cursor: not-allowed;
    .vi-radio_inner {
      border-color: $color-disabled-info;
      &::after {
        background-color: $color-disabled-info;
      }
    }
    .vi-radio_input {
      cursor: not-allowed;
    }
  }
  &_inner-box {
    position: relative;
    vertical-align: middle;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    margin-right: $fs-6;
  }
  &_inner {
    position: relative;
    display: inline-block;
    width: $fs-14;
    height: $fs-14;
    background-color: $color-white;
    border: 1px solid $color-primary-bd;
    border-radius: 50%;
    font-size: $fs-14;
    color: $color-primary-text;
    &::after {
      content: "";
      display: block;
      @include setPosition();
      width: 8px;
      height: 8px;
      background-color: $color-primary;
      border-radius: 50%;
      opacity: 0;
      transition: all $duration02;
    }
  }
  &_input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    @include setPosition(inherit);
    z-index: 1;
    opacity: 0;
    margin: 0;
    padding: 0;
  }
  &_label {
    font-size: $fs-14;
    color: $color-primary-text;
    // margin-left: 20px;
  }
}