.vi-select {
  display: inline-block;
  position: relative;
  .is-Focus {
    .vi-input_inner {
      border-color: $color-active-primary;
    }
  }
  &_pull_down {
    transition: all .3s;
  }
  &_pull_down-active {
    transform: rotate(-180deg);
  }
  &_clearable {
    @include setPosition(right, $top: 2px, $right: 6px) {
      bottom: 0;
    }
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &_content {
    position: absolute;
    transform: translateY($fs-4);
    min-width: 100%;
    background-color: $color-white;
    border-radius: $fs-4;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    padding: $fs-6 0;
    box-sizing: border-box;
    max-height: 210px;
    transition: color .3s ease;
    overflow: auto;
    color: rgba(0, 0, 0, 0);
    transform-origin: left top;
    &:hover {
      color: rgba(0, 0, 0, 0.2);
    }
    .vi-select_ul {
      margin: 0;
      padding: 0;
      list-style: none;
      color: $color-primary-text;
      .vi-select_item {
        padding: $fs-6 $fs-12;
        cursor: pointer;
        font-size: 14px;
        &.is-active {
          background-color: $color-primary-bg;
          color: $color-primary;
        }
        &.is-disabled {
          color: $color-disabled-text;
          background-color: transparent;
          &:hover {
            background-color: transparent;
          }
          cursor: not-allowed;
        }
        &:hover {
          background-color: $color-hover-bg;
        }
      }
    }
  }
  .selectFade-enter-active, .selectFade-leave-active {
    transition: all $duration02;
  }
  .selectFade-enter, .selectFade-leave-to {
    transform: scaleY(0.5);
    opacity: 0;
  }
}

