.vi-switch {
  display: inline-block;
  position: relative;
  margin: 0px 10px 0px 0;
  cursor: pointer;
  .vi-switch_input {
    display: inline-block;
    position: relative;
    height: 20px;
    border-radius: 10px;
    background: #dcdfe6;
    transition: all .3s;
    vertical-align: middle;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin-left: 1px;
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background-color: #fff;
      transition: all .3s;
    }
  }
  .vi-switch_checked {
    background: $color-success;
    &::after {
      left: 100%;
      margin-left: -1px;
      transform: translate(-100%, -50%);
    }
    .vi-switch_loading {
      left: $fs-6;
    }
  }
  .vi-switch_close {
    .vi-switch_loading {
      right: $fs-6;
    }
  }
  &.vi-switch_disabled {
    cursor: not-allowed;
    opacity: .6;
  }
  .vi-switch_active {
    color: #409eff;
    font-size: 14px;
    font-weight: 500;
  }
  .vi-switch_text {
    transition: all .2s;
    user-select: none;
  }
  .vi-switch_text_close {
    margin-right: 6px;
  }
  .vi-switch_text_open {
    margin-left: 6px;
  }
  .vi-switch_loading {
    position: absolute;
    top: 15%;
    pointer-events: none;
    display: inline-block;
    animation: vi-animation-loading 1s infinite Linear;
  }
}
