.doc-layout1{
  .vi-container,
  .vi-header,
  .vi-footer,
  .vi-aside,
  .vi-main{
    color: #FFF;
    text-align: center;
  }
  .vi-header,
  .vi-footer{
    background-color: #7CBCE9;
    line-height: 50px;
  }
  .vi-aside{
    background-color: #3a9fe8;
    line-height: 120px;
    padding: 0 20px;
  }
  .vi-container,
  .vi-main{
    background-color: #0f8de9;
    line-height: 120px;
  }
  .vi-container + .vi-container{
    margin-top: 30px;
  }
}