@function getBasicColors($type) {
  @if $type == primary {
    @return $color-primary;
  }
  @else if $type == success {
    @return $color-success;
  }
  @else if $type == info {
    @return $color-info;
  }
  @else if $type == warning {
    @return $color-warning;
  }
  @else if $type == danger {
    @return $color-danger;
  }
  @else if $type == text {
    @return $color-primary-text;
  }
};

@function getHoverColors($type) {
  @if $type == primary {
    @return $color-hover-primary;
  }
  @else if $type == success {
    @return $color-hover-success;
  }
  @else if $type == info {
    @return $color-hover-info;
  }
  @else if $type == warning {
    @return $color-hover-warning;
  }
  @else if $type == danger {
    @return $color-hover-danger;
  }
};

@function getActiveColors($type) {
  @if $type == primary {
    @return $color-active-primary;
  }
  @else if $type == success {
    @return $color-active-success;
  }
  @else if $type == info {
    @return $color-active-info;
  }
  @else if $type == warning {
    @return $color-active-warning;
  }
  @else if $type == danger {
    @return $color-active-danger;
  }
};

@function getDisabledColors($type) {
  @if $type == primary {
    @return $color-disabled-primary;
  }
  @else if $type == success {
    @return $color-disabled-success;
  }
  @else if $type == info {
    @return $color-disabled-info;
  }
  @else if $type == warning {
    @return $color-disabled-warning;
  }
  @else if $type == danger {
    @return $color-disabled-danger;
  }
};

@function getBgLightColors($type) {
  @if $type == primary {
    @return $color-bglight-primary;
  }
  @else if $type == success {
    @return $color-bglight-success;
  }
  @else if $type == info {
    @return $color-bglight-info;
  }
  @else if $type == warning {
    @return $color-bglight-warning;
  }
  @else if $type == danger {
    @return $color-bglight-danger;
  }
}

@function getBgDarkColors($type) {
  @if $type == primary {
    @return $color-bgdark-primary;
  }
  @else if $type == success {
    @return $color-bgdark-success;
  }
  @else if $type == info {
    @return $color-bgdark-info;
  }
  @else if $type == warning {
    @return $color-bgdark-warning;
  }
  @else if $type == danger {
    @return $color-bgdark-danger;
  }
}

@mixin setPosition ($position: center, $top: 0, $right: 0, $bottom: 0, $left: 0, $position-box: absolute) {
  position: $position-box;
  @if $position == center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @else if $position == x-center {
    top: $top;
    left: 50%;
    transform: translateX(-50%);
  }
  @else if $position == y-center {
    top: 50%;
    transform: translateY(-50%);
  }
  @else if $position == inherit {
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
  }
  @else if $position == left {
    top: $top;
    left: $left;
  }
  @else if $position == right {
    top: $top;
    right: $right;
  }
  @else if $position == custom {
    @content;
  }
  @content;
}

@mixin setScollBar($el: all, $width: $fs-4, $height: $fs-4, $color: $color-primary-bd) {
  .#{$el}::-webkit-scrollbar {
    width: $width; 
    height: $height;
  }
  .#{$el}::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    box-shadow: inset 0 0 0 10px;
  }
  .#{$el}::-webkit-scrollbar-track {/*滚动条里面轨道*/
    border-radius: 0;
  }
}

