@import "variables";
@import "common";

// @import "./components/icon";
// @import "./iconfont/iconfont.css";
@import './components/layout.scss';
@import "./components/slide-down";
@import "./components/button";
@import "./components/icon.scss";
@import "./components/menu";
@import "./components/upload";
@import "./components/dropload";
@import "./components/backtop";
@import "./components/switch";
@import "./components/collapse";
@import "./components/checkboxGroup.scss";
@import "./components/checkbox.scss";
@import "./components/tabs";
@import "./components/progress";
@import "./components/drawer.scss";
@import "./components/message.scss";
@import "./components/messageBox.scss";
@import "./components/loading.scss";
@import "./components/mask.scss";
@import "./components/dialog.scss";
@import "./components/input.scss";
@import "./components/select.scss";
@import "./components/form.scss";
@import "./components/formItem.scss";
@import "./components/radioGroup.scss";
@import "./components/radio.scss";
@import "./components/radioButton.scss";
@import "./components/noticeation.scss";
@import "./components/datePicker.scss";
@import "./components/tag.scss";
@import "./components/breadcrumb.scss";
@import "./components/breadcrumbItem.scss";
@import "./components/carousel.scss";
@import "./components/carouselItem.scss";

// @import url('//at.alicdn.com/t/font_1572091_ycvmy3hyqk.css');
//@import url('//at.alicdn.com/t/font_1572091_cv3o2311cwo.css');
//@import url('//at.alicdn.com/t/font_1572091_0ezunokjgyea.css');
@import url('//at.alicdn.com/t/font_1615068_l3ao7vwsef8.css');




/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

.vi-wrap_top-transition {
	transform-origin: left bottom;
}

.vi-wrap_bottom-transition {
	transform-origin: left top;
}



::-webkit-scrollbar {/*滚动条整体样式*/
	width: $fs-6;     /*高宽分别对应横竖滚动条的尺寸*/
	height: $fs-6;
}
:hover::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #c6ccd7;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
	background-color: inherit;
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
	background-color: inherit;
}



@keyframes vi-animation-loading {
  from {
    transform:rotateZ(0deg);
  }
 
  to {
    transform: rotateZ(360deg);
  }
}