@font-face {
  font-family: 'iconfont';  /* project id 1615068 */
  src: url('//at.alicdn.com/t/font_1615068_falefm3d5up.eot');
  src: url('//at.alicdn.com/t/font_1615068_falefm3d5up.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1615068_falefm3d5up.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1615068_falefm3d5up.woff') format('woff'),
  url('//at.alicdn.com/t/font_1615068_falefm3d5up.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1615068_falefm3d5up.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vi-icon-checked:before {
  content: "\e607";
}

.vi-icon-warning:before {
  content: "\e60c";
}

.vi-icon-error:before {
  content: "\e715";
}

.vi-icon-info:before {
  content: "\e89e";
}

.vi-icon-close:before {
  content: "\e62d";
}
.vi-icon-btn-loading::before {
  content: "\e62e";
}
