.vi-demo-block {
  .vi-input {
    width: 180px;
  }
  .vi-textarea {
    width: 280px;
  }
}
.vi-demo-input {
  .vi-input {
    margin-bottom: 20px;
  }
}

.demo-input-size {
  .vi-input {
    margin-right: 15px;
  }
}